if SHIELD_TEST_RB_LEFT

config ZMK_KEYBOARD_NAME
    default "test-rb"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TEST_RB_LEFT || SHIELD_TEST_RB_RIGHT

config ZMK_SPLIT
    default y

endif