#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define _ &none

#define a &kp A
#define b &kp B
#define c &kp C
#define d &kp D
#define e &kp E
#define f &kp F
#define g &kp G
#define h &kp H
#define i &kp I
#define j &kp J
#define k &kp K
#define l &kp L
#define m &kp M
#define n &kp N
#define o &kp O
#define p &kp P
#define q &kp Q
#define q &kp Q
#define r &kp R
#define s &kp S
#define t &kp T
#define u &kp U
#define v &kp V
#define w &kp W
#define x &kp X
#define y &kp Y
#define z &kp Z

#define bksp    &kp BACKSPACE
#define comma   &kp COMMA
#define dot     &kp DOT
#define enter   &kp ENTER
#define lalt    &kp LEFT_ALT
#define lctrl   &kp LEFT_CONTROL
#define period  &kp PERIOD
#define ralt    &kp RIGHT_ALT
#define rgui    &kp RIGHT_GUI
#define rshift  &kp RIGHT_SHIFT
#define space   &kp SPACE
#define tab     &kp TAB

#define shf_esc &mt LEFT_SHIFT ESCAPE

&lt {
  tapping-term-ms = <150>;
};

/ {
  keymap {
    compatible = "zmk,keymap";
    default {
      bindings =
        <
          tab     q       w       e       r       t         y       u       i       o       p       bksp

          shf_esc a       s       d       f       g         h       j       k       l       rshift  enter

          lctrl   z       x       c       v       b         n       m       comma   period  _       rgui

                                  lalt    _       _         space   _       ralt
        >;
    };
  };
};